@font-face {
    font-family: OptimusPrinceps;
    src: url('assets/font/AlgerianRegular.ttf');
}
.reserver {
    font-size: 1.5em;
    color: red;
}
.navme{
    color: green;
    
}
.bienvenue {
    color: red;
}
#bienvenue {
    color: red;
}
.fluid {
    min-width: 100%;
    max-height: 280px;
}

#hrr {
    width: 100%;
    border: 1px solid rgb(184, 182, 182);
}
/* .image {
    filter:drop-shadow(2px 4px 8px #585858);
} */

.card-icon{
    min-width: 30%;
}

.card-head{
    min-width: 30%;
    border-radius: 50%;
    border: 3px solid black;
}

.lasthr {
    border-top: 1px solid green;
}

.textbut {
    color: red;
}

.fixedicon{
	position: fixed;
	left: 15px;
	top: 175px;
	width: 70px;
}
.fixedicon img{
	width: 70px;
}


@media (min-width: 276px) {
    .d1 {
        margin-bottom: 25px;
}
    .fake {
       padding-left:20px;
       padding-right:20px;
   }  
}

@media (max-width: 767px) {
    .icon {
        width: 30%;
    }
    .ico{
        width: 100%;
        text-align: center;
    }

    .lasthr{
        border: none;
    }
}
@media (max-width: 680px){
    .fixedicon{
	position: -ms-page;
	left: 15px;
	top: 175px;
	width: 70px;
}
.fixedicon img{
	width: 40px;
}
}